<div 
    class="modal fade" 
    id="ConfirmationModal" 
    tabindex="-1" 
    aria-labelledby="ConfirmationModalLabel" 
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1
                    class="modal-title fs-5"
                    id="ConfirmationModalLabel">
                    @Title
                </h1>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close">
                </button>
            </div>
            
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                    @onclick="()=>ConfirmationClick(false)"
                    style="width:150px;">
                    Cancel
                </button>
                <button
                    type="button"
                    class="btn @ButtonColor"
                    @onclick="()=>ConfirmationClick(true)"
                    style="width:150px;">
                    @ButtonText
                </button>
            </div>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public EventCallback<bool> OnModalConfirmation { get; set; }

    [Parameter] 
    public string Title { get; set; } = "Please Confirm";

    [Parameter] 
    public string ButtonColor { get; set; } = "btn-primary";
    
    [Parameter]
    public string ButtonText { get; set; } = "Confirm";
    
    
    private async Task ConfirmationClick(bool value)
    {
        if (!value) return;
        
        await OnModalConfirmation.InvokeAsync(value);
    }
}