@page "/products"

@inject IProductRepository ProductRepository
@inject IJSRuntime JSRuntime

@if (_isProcessing)
{
    <div class="position-absolute w-75 h-75 d-flex flex-column align-items-center bg-white justify-content-center">
        <img src="images/loading.gif" alt="loading" />
    </div>
}
else
{
    <div class="card shadow border-0 mt-4">
        <div class="card-header bg-black bg-gradient ms-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-white">Products</h2>
                </div>
            </div>
        </div>
        
        <div class="card-body p-4">
            <div class="row pb-3">
                <div class="col text-end">
                    <NavLink
                        href="product/create"
                        class="btn btn-primary">
                        <i class="bi bi-plus-square"></i> Add New Product
                    </NavLink>
                </div>
            </div>
            
            @if (_products.Any())
            {
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in _products)
                        {
                            <tr>
                                <td>@product.Name</td>
                                <td>
                                    <a
                                        href="products/update/@product.Id"
                                        class="btn btn-primary">
                                        <i class="bi bi-pencil-square"></i> Edit
                                    </a>
                                    <button 
                                        class="btn btn-danger"
                                        @onclick="()=>HandleDelete(product.Id)">
                                        <i class="bi bi-trash3"></i> Delete
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
}


<ConfirmationModal
    OnModalConfirmation="ConfirmDelete"
    Title="Are you sure you want to delete this product?"
    ButtonColor="btn-danger"
    ButtonText="Delete">
</ConfirmationModal>



@code {
    private bool _isProcessing = true;
    private IEnumerable<Product> _products = new List<Product>();
    private int _deleteProductId;

    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadProducts();
            _isProcessing = false;
            StateHasChanged();
        }
    }

    private async Task LoadProducts()
    {
        _products = await ProductRepository.GetAll();
    }


    private async Task HandleDelete(int id)
    {
        _deleteProductId = id;
        await JSRuntime.InvokeVoidAsync("ShowConfirmationModal");
    }

    private async Task ConfirmDelete(bool isConfirmed)
    {
        _isProcessing = true;
        
        if (isConfirmed && _deleteProductId > 0)
        {
            var result = await ProductRepository.Delete(_deleteProductId);
            await JSRuntime.InvokeVoidAsync("HideConfirmationModal");
            
            if (result)
                await JSRuntime.ToastrSuccess("Product deleted successfully.");
            else
                await JSRuntime.ToastrError("Failed to delete product.");
            
            await LoadProducts();
        }
        
        _deleteProductId = 0;
        _isProcessing = false;
    }
}