@page "/"

@inject IProductRepository ProductRepository
@inject ICategoryRepository CategoryRepository

<PageTitle>Home</PageTitle>

@if (_isProcessing)
{
    <div class="position-absolute w-100 vh-100 d-flex flex-column align-items-center bg-white justify-content-center">
        <img src="images/loading.gif" alt="loading" />
    </div>
}
else
{
    <div class="container-fluid px-0 m-0 full-width">
        <div class="jumbotron-custom">
            <div class="m-auto d-flex align-items-center" style="width: 400px; height: 50vh;">

                <div class="d-flex align-items-center" style="width: 100%;">
                    <input type="text" class="form-control rounded-pill"
                           placeholder="Search for Food Items!"
                           style="width: 100%; padding: 20px;"
                           @bind:event="oninput"
                           @bind:get="_searchTerm"
                           @bind:set="SearchProducts">
                    <span style="position: relative; left: -43px;"><i class="bi bi-search"></i></span>
                </div>
            </div>
        </div>

        <div class="content px-4 m-2">
            <ul class="nav nav-underline justify-content-center mb-2">
                <li class="nav-item">
                    <span
                        class="nav-link @(_selectedCategoryId == 0 ? "active" : "")"
                        href="#"
                        style="cursor: pointer"
                        @onclick="() => FilterProducts(0)">
                        All
                    </span>
                </li>
                @foreach (var category in _categories)
                {
                    <li class="nav-item">
                        <span
                            class="nav-link @(_selectedCategoryId == category.Id ? "active" : "")"
                            href="#"
                            style="cursor: pointer"
                            @onclick="() => FilterProducts(category.Id)">
                            @category.Name
                        </span>
                    </li>
                }
            </ul>
            
            <div class="row mt-4 mx-1">
                @foreach (var product in _filteredProducts)
                {
                    <div class="col-12 col-md-6 col-lg-4 pe-3 mb-5">
                        <_ProductCard
                            Product="product">
                        </_ProductCard>
                    </div>
                }
            </div>
        </div>
    </div>
    
}

@code{
    private IEnumerable<Product> _products = new List<Product>();
    private IEnumerable<Category> _categories = new List<Category>();
    private IEnumerable<Product> _filteredProducts = new List<Product>();
    private bool _isProcessing = true;
    private int _selectedCategoryId = 0;
    private string _searchTerm = string.Empty;


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadData();
            _isProcessing = false;
            StateHasChanged();
        }
    }

    private async Task LoadData()
    {
        _products = await ProductRepository.GetAll();
        _categories = await CategoryRepository.GetAll();
        FilterProducts(0);
    }
    
    private void FilterProducts(int categoryId)
    {
        if (categoryId == 0)
        {
            _filteredProducts = _products;
            _selectedCategoryId = categoryId;
            return;
        }
        
        _filteredProducts = _products
            .Where(p => p.CategoryId == categoryId)
            .ToList();
        _selectedCategoryId = categoryId;
        _searchTerm = string.Empty;
    }
    
    private void SearchProducts(string newSearchTerm)
    {
        if (string.IsNullOrEmpty(newSearchTerm))
        {
            _filteredProducts = _products;
            _searchTerm = string.Empty;
            return;
        }
        
        _filteredProducts = _products
            .Where(p => p.Name.Contains(newSearchTerm, StringComparison.InvariantCultureIgnoreCase))
            .ToList();
        _searchTerm = newSearchTerm;
    }
}
