@page "/categories"

@inject ICategoryRepository CategoryRepository
@inject IJSRuntime JSRuntime

<ConfirmationModal></ConfirmationModal>

@if (_isProcessing)
{
    <div class="position-absolute w-75 h-75 d-flex flex-column align-items-center bg-white justify-content-center">
        <img src="images/loading.gif" alt="loading" />
    </div>
}
else
{
    <div class="card shadow border-0 mt-4">
        <div class="card-header bg-black bg-gradient ms-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-white">Categories</h2>
                </div>
            </div>
        </div>
        
        <div class="card-body p-4">
            <div class="row pb-3">
                <div class="col text-end">
                    <NavLink
                        href="categories/create"
                        class="btn btn-primary">
                        <i class="bi bi-plus-square"></i> Add New Category
                    </NavLink>
                </div>
            </div>
            
            @if (_categories.Any())
            {
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in _categories)
                        {
                            <tr>
                                <td>@category.Name</td>
                                <td>
                                    <a
                                        href="categories/update/@category.Id"
                                        class="btn btn-primary">
                                        <i class="bi bi-pencil-square"></i> Edit
                                    </a>
                                    <button 
                                        class="btn btn-danger"
                                        @onclick="()=>HandleDelete(category.Id)">
                                        <i class="bi bi-trash3"></i> Delete
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
}

@code {
    private bool _isProcessing = true;
    private IEnumerable<Category> _categories = new List<Category>();
    private int _deleteCategoryId;

    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadCategories();
            _isProcessing = false;
            StateHasChanged();
        }
    }

    private async Task LoadCategories()
    {
        _categories = await CategoryRepository.GetAll();
    }


    private void HandleDelete(int id)
    {
        _deleteCategoryId = id;
        JSRuntime.InvokeVoidAsync("ShowConfirmationModal");
    }

    private async Task ConfirmDelete(bool isConfirmed)
    {
        _isProcessing = true;
        
        if (isConfirmed && _deleteCategoryId > 0)
        {
            var result = await CategoryRepository.Delete(_deleteCategoryId);
            
            if (result)
                await JSRuntime.ToastrSuccess("Category deleted successfully.");
            else
                await JSRuntime.ToastrError("Failed to delete category.");
            
            await LoadCategories();
        }
        
        _deleteCategoryId = 0;
        _isProcessing = false;
    }
}